{* Latte template *}

{block content}

<table class="table table-bordered table-condensed table-striped">
	<tr>
		<th>Číslo</th>
		<th colspan="2">Status ze dne {$statusEntity->dateIn|date:'d.m.Y H:i:s'}</th>	
	</tr>
	<tr>
		<td>{$statusEntity->id_spool}</td>
		<td>Typ dokladu</td>
		<td>{$statusEntity->docType->name}</td>
	</tr>
	<tr><td></td><td>Počet stran</td><td>{$statusEntity->totalAmountPages}</td></tr>
	<tr><td></td><td>Počet obálek</td><td>{$statusEntity->totalAmountEnvelop}</td></tr>
	<tr><td></td><td>Přijato</td><td>{$statusEntity->dateIn|date:'d.m.Y H:i:s'}</td></tr>
	<tr><td></td><td>Zpracováno</td><td>{$statusEntity->dateProcess|date:'d.m.Y H:i:s'}</td></tr>
	<tr><td></td><td>Vytištěno</td><td>{$statusEntity->datePrint|date:'d.m.Y H:i:s'}</td></tr>
	<tr><td></td><td>Odesláno</td><td>{$statusEntity->dateOut|date:'d.m.Y H:i:s'}</td></tr>
	<tr><td></td><td>Počet barevných stran</td><td>{$statusEntity->totalAmountColor}</td></tr>
	<tr><td></td><td>Počet čb stran</td><td>{$statusEntity->totalAmountBW}</td></tr>
	<tr><td></td><td>Počet krycích listů</td><td>{$statusEntity->totalCoverSheet}</td></tr>
	<tr><td></td><td>Počet listů celkem</td><td>{$statusEntity->totalSheets}</td></tr>
	<tr><td></td><td>Počet složenek</td><td>{$statusEntity->totalSlip}</td></tr>
	<tr><td></td><td>Počet adresných příloh</td><td>{$statusEntity->totalAddressAd}</td></tr>
	<tr><td></td><td>Počet neadresných příloh</td><td>{$statusEntity->totalNonAddressAd}</td></tr>
	<tr><td></td><td>Počet umístěných bannerů</td><td>{$statusEntity->totalAmountBanner}</td></tr>
	<tr><td></td><td>Počet elektronických dokumentů</td><td>{$statusEntity->totalEleDoc}</td></tr>
	<tr><td></td><td>Poštovné celkem</td><td>{$statusEntity->totalPostFee}</td></tr>	
</table>
<div>
	{var $args = array('id_spool' => $statusEntity->id_spool, 'id_company' => $statusEntity->company->id)} 
	<a href="{plink Document:default, (expand) $args}">Seznam dokladů</a>
</div>
<div>	
	<a href="{plink Status:default, $statusEntity->company->id}">Zpět na seznam</a>
</div>
