#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#

php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes

nette:
	application:
		errorPresenter: Front:Error
		mapping:
			*: App\*Module\*Presenter

	container:
		debugger: TRUE
		accessors: TRUE 
	session:
		expiration: 14 days
	


services:
	routerFactory: RouterFactory
	router: @routerFactory::createRouter
	- LeanMapper\Connection(%database%)
	#database:
	#	class: LeanMapper\Connection
	#	arguments: ['%database%']
	- Model\Mapper\DefaultMapper	
	- Model\Repository\CompanyRepository 
	- Model\Repository\UserRepository 
	- Model\Repository\StatusRepository 
	- Model\Repository\StatusTypeRepository 
	- Model\Repository\DocTypeRepository 
	- Model\Repository\DocumentRepository 
	- Model\Repository\OperatorRepository 
	- Model\Repository\DistChannelRepository
	authenticator: Model\Authenticator	
	authorizator:
		class: Nette\Security\Permission
		setup:
			- addRole('viewer')
			- addRole('operator', 'viewer') 
			- addRole('admin', 'operator') 

			- addResource('Front:DocumentDetail') 
			- addResource('Front:Status') 
			
			- allow('operator', 'Front:DocumentDetail', 'edit')
			- allow('operator', 'Front:Status', 'edit')
			- allow('admin') 

#production < common:
parameters:
	database:
		driver: mssql2005	#POZOR! tento driver (DibiMsSql2005Driver.php) jsem musel pozmenit, aby vracel datetime ve jinem tvaru
		database: trans 
		host: HP10036276\SQLEXPRESS
		#host: HP20002369\SQLEXPRESS
		username: trans
		password: trans
		#profiler: false
		#driver: mysql
		#database: trans 
		#host: localhost		
		#username: trans
		#password: trans
		profiler: false
