{* Latte template *}

{block content}

{control companiesForm}

{control statusDatagrid}

<script>
	$('#frm-companiesForm-company').change(function() {		
		$('#frm-companiesForm-change').click();
	  });
</script>