{* Latte template *}
{block content}

{include '../base.latte'}




<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

<div ><h1>Seznam spoolů</h1></div>

{control companiesForm}

{control statusDatagrid}

<script>
	$('#frm-companiesForm-company').change(function() {
		$('#frm-companiesForm-change').click();
			});
</script>