{* Latte template *}


<div class='navbar navbar-default navbar-relative-top' role='navigation'>
	<div class="container">
		<div class='navbar-collapse collapse'>

			<ul class='nav navbar-nav navbar-right'>
				<li >
					<label class='nav>li>a'>Přihlášen uživatel {$user->id}</label>
					<a href={link :Auth:Sign:out}>Odhlásit</a>
				</li>		
			</ul>
		</div>
	</div>
</div>