{* Latte template *}


<div class='navbar navbar-default navbar-fixed-top' role='navigation'>
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Naviguj</span>
				<span class ="icon-bar"></span>
				<span class ="icon-bar"></span>
				<span class ="icon-bar"></span>
			</button>
			<span class="navbar-brand">Print Portal</span>
		</div>

		<div class='navbar-collapse collapse'>

			<ul class='nav navbar-nav navbar-right'>
				<li>
					<a class='navbar-brand' href={link :Front:Status:default}>Seznam spoolů</a>
				</li>
				<li>
					<a class='navbar-brand' href={link :Front:Banner:default}>Evidence Bannerů</a>
				</li>
				<li>
					<a class='navbar-brand' href={link :Front:SouhrnFaktur:default}>Evidence Fakturace</a>
				</li>
				{if $user->isInRole('admin')}
					<li>
						<a class='navbar-brand' href={plink :Admin:AdminPage:default}>Administrace</a>
					</li>
				{/if}
				<li>
					<label class='navbar-brand'>Přihlášen uživatel {$user->id}</label>
				</li>
				<li>
					<a class='navbar-brand' href={plink :Auth:Sign:out}>Odhlásit</a>
				</li>		
			</ul>
		</div>
	</div>
</div>

