<div class="container shadow hidden-print">
	<div class="row">
		<div class="col-lg-2 visible-lg">
			<a n:href=":Auth:Sign:in"><div id="qr"></div></a>
		</div>
		<div class="col-lg-10">
			<a n:href=":Auth:Sign:in">
				<h1>Trans applikace</h1>
			</a>
		</div>
	</div>
</div>