{* This is the welcome page, you can delete it *}

{block content}
<h1 n:block="title">Transport</h1>

{control datagridSpolecnosti}

{* {foreach $spolecnosti as $spolecnost}
<div class="spolecnost">
    <div>{$spolecnost->Nazev}</div>

  <h2><a href="{link Spolecnost:show $spolecnost->ID}">{$spolecnost->Nazev}</a></h2> 
 
</div>
{/foreach}
  *}
{/block}
