{* Latte template *}


{define row-actions}
	<a href="{link edit! $primary}"  class="btn btn-default ajax">Editovat</a>
	<a href="{plink delete! $primary}" data-confirm="Opravdu smazat?" class="btn btn-danger ajax">Smazat</a>
{/define}



